<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.palladiosimulator.hwsimcoupling.hwsim">
      <hwsim
            class="org.palladiosimulator.hwsimcoupling.commands.gem5.docker.CommandHandlerGem5"
            name="gem5">
      </hwsim>
   </extension>
   
   
   

</plugin>
